{% extends 'myapp/layout.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
<div class="features">
    <h1>Новости</h1>
    <div class="news_grid">
        {% if news %}
          {% for news_el in news %}
            <div class="news_element">
              <h3>{{ news_el.title }}</h3>
              <p>{{ news_el.anons }}</p>
              <a href="{% url 'news-detail' news_el.id %}" class="button-news-detail">Читать</a>
            </div>
          {% endfor %}
        {% else %}
          <p>У вас нет записей!!!</p>
        {% endif %}
      </div>
      
  </div>
  
{% endblock %}