{% extends 'myapp/layout.html' %}

{% block title %}Форма изменения статьи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма изменения статьи</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }} <br>
            {{ form.anons }} <br>
            {{ form.full_text }} <br>
            {{ form.date }} <br>
            <span>{{ error }}</span>
            <button class="button-about" type="submit">Изменить</button>
            <a href="{% url 'news-detail' article.id %}" class="button-about">Назад</a>
        </form> 
    </div>
{% endblock %}