{% extends 'myapp/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>
            Земля - третья планета от Солнца и единственная известная планета, на которой поддерживается жизнь. Она имеет диаметр приблизительно 12 742 километра и массу 5,97 x 10 ^ 24 килограмма. Атмосфера Земли состоит в основном из азота (78%) и кислорода (21%), а также содержит следовые количества других газов, таких как углекислый газ, неон и гелий.

            У планеты есть естественный спутник, Луна, которая является пятой по величине луной в Солнечной системе. Поверхность Земли в основном покрыта водой, на долю океанов приходится около 71% ее площади.
        </p>
        <button class="button-about" role="button">About</button>
    </div>
{% endblock %}